

#container { 
    margin: 0 auto;
    width: 1000px;
/*    top: 20px;*/

    background-position: center center;
}
#header11{
    height: 57px;
    width: 1000px;  
    background-color: #f0eded;
}

#h1Text{
    float:left;
    width: 208px;
    height: 57px;
    background-color: #f0eded;
    
    text-align: left;
    vertical-align: middle;
}
#h1LoginMode{
    
    margin: auto;
   height: 57px;
      
    width: 580px;
    
    text-align: center;
    vertical-align: middle;
}
#h1button{
     float:right;
    width: 208px;
    height: 57px;
    
    vertical-align: bottom;
    text-align: right;
    font-size: 14px;
}


#body {
/*    margin: auto;*/
    width: 1000px;
    height: 400px; 
    background-color: #9999ff;
}
#box{
   margin: auto;
    width: 924px;
    height: 324px;
    background-color: #9999ff;
    
    background-position: center center;
}
#boxheader{
    width: 924px;
    height: 38px;
    background-color: #9999ff;
}
#boxmain{
        width: 924px;
    height: 286px;
    background-color: #ffffff;
}
#footer{
    width: 1000px;
    height: 20px; 
    background-color: #9999ff;
}



